
body{
    background-color: #FFF;
    
    
}

.cabeçalho{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    
}

h1{
    text-align: center;
    color: rgb(30, 31, 31);
    font-family: sans-serif;
}

.imagem_cabeçalho{
    height: 120px; 
    
}

.cabeçalho_lista{
    font-size: 20px;
    list-style-type: none;

}

.cabeçalho_item{
    padding: 25px;
    display: inline-block;
}

.main{
    background: #e4dfdf;
    text-align: justify;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    padding: 50px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cursos{
    background: #e4dfdf;
    text-align: justify;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    padding: 50px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.horario{
        background: #e4dfdf;
        text-align: justify;
        width: 80%;
        border-radius: 20px;
        margin: auto;
        padding: 50px;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }

.contato{
    background: #e4dfdf;
    text-align: justify;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    padding: 50px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

